.header {
  text-align: center;
  margin-top: 50px;
}

.body {
  margin-top: 50px;
}

.container {
  /* background-image: url(../resources/background.jpg);
  background-repeat: no-repeat;*/
  justify-content: center;
  width: 100%;
  color: "#fff";
}

.description {
  font-size: 20px;
}
.searchContainer {
  margin-top: 50px;
}

.searchBar input {
  background: rgba(129, 127, 139, 0.7) !important;
  color: #e8e8e8 !important;
}

.models {
  margin-top: 50px;
}

.modelsText {
  /* text-decoration: underline; */
}

.modelButtons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.button {
  margin-left: 15px;
  margin-right: 15px;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 16px auto;
}
.card {
  margin: 16px auto !important;
  width: 100%;
  max-width: 320px;
}
.cardImage {
  object-fit: contain;
  width: 320px;
}
.head {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orange;
}
.white {
  color: aqua;
}
.contentStyle {
  justify-content: center;
  padding-left: 50px;
}
.headerImage {
  height: "600px";
  color: "white";
  line-height: "160px";
  text-align: "center";
  background: "white";
  justify-content: center;
  width: 100%;
}
