.header {
  margin-top: 30px;
  text-align: center;
}

.brand {
  margin-left: 30px;
}

.menuOptions {
  display: flex;
  margin-left: 30px;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  flex: 0.05;
  justify-content: center;
  text-align: right;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  flex: 0.95;
}

.logo {
  width: 168px;
  position: relative;
  z-index: 1;
}

.rightMenu {
  flex: 1;
  text-align: right;
}

.leftMenu {
  margin-left: 20px;
}
