.header {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 16px auto;
}
.section {
  padding-top: 20px;
}
