.header {
  margin-top: 30px;
  text-align: center;
}

.search {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dropdowns {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.dropdownButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.instances {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: bold;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 16px auto;
}
.wrapper2 {
  width: 60%;
  max-width: 600px;
  margin: 16px auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px auto !important;
  width: 100%;
  max-width: 320px;
}
.cardImage {
  object-fit: contain;
  width: 280px;
  height: 320px;
}
